*{   
    box-sizing: border-box; 
}

body{
    background-color: #000;
    margin: 0;
}

header { 
    background-color: #000000;
    color: #fff; 
    position: fixed;
    width: 100%;
    margin: 0;
}

header h1 {
    float: left;
    padding-left: 20px;
}

.nav-links {
    float: right;
    margin-top: 10px;
}

.nav-links ul li {
    display: inline;
    padding-right: 30px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

main {
    margin: auto 35%;
    padding-top: 100px;
}

.wrapper{
    max-width: 400px;
    width: 100%;
    background: #cfcfcf;
    padding: 25px;
    border-radius: 15px; 
    box-shadow: 5px 5px 5px #0621bb; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#name { 
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

#email {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

.text-area {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn #submit{ 
    border: 0px;
    margin: auto 30px;
    padding: 10px;
    text-align: center;
    width: 80%;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn #submit:hover {
    width: 85%; 
    height: 40px;
    text-decoration: underline;
}

footer {
    padding: 20px;
}

.container {
    width: 100%;
    text-align: center;
}

.container a { 
    text-decoration:none;
    color: #fff; 
    letter-spacing: 10px;
    font-size: 30px;
}

.container a:hover {
    color: #112066;
}

#error_message{
    margin-bottom: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transition: all 0.1 ease;
    border-radius: 5px;
}